.no-senhas-message {
  text-align: center;
  font-size: 1.2rem;
  color: #ffffff; 
  margin: 20px 0; 
  margin-left: 30px; 
  margin-right: 30px; 
  padding: 10px 20px;
  background-color: #000000; 
  border: 1px dashed #ffffff;
  border-radius: 8px;
}
