<ion-app>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="atendente" href="/atendente">
        <ion-icon name="people"></ion-icon>
        <ion-label>Atendente</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="painel" href="/painel">
        <ion-icon name="tv"></ion-icon>
        <ion-label>Painel</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="relatorios" href="/relatorios">
        <ion-icon name="document-text"></ion-icon>
        <ion-label>Relatórios</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>

