<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Meu Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <div class="section-title">Informações da Conta</div>
  <ion-list lines="full" class="ion-margin-bottom">
    <ion-item>
      <ion-label position="stacked"><h1>Nome Completo</h1></ion-label>
      <ion-input type="text" [(ngModel)]="user.name" placeholder="Digite seu nome"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked"><h1>E-mail</h1></ion-label>
      <ion-input type="email" [(ngModel)]="user.email" [disabled]="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked"><h1>Nova Senha</h1></ion-label>
      <ion-input type="password" [(ngModel)]="user.password" placeholder="Caso não queira alterar, deixe vazio."></ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="block" (click)="updateAccount()" class="ion-margin-bottom">
    Salvar Alterações
  </ion-button>

  <div class="divider-space"></div>

  <div class="section-title danger">Zona de Perigo</div>
  <p class="ion-padding-horizontal">Remova sua conta e todos os dados associados permanentemente.</p>
  
  <ion-button expand="block" color="danger" fill="outline" (click)="confirmDelete()">
    Excluir Minha Conta
  </ion-button>

</ion-content>